<template>
  <f7-page>
    <f7-list class="main-nav_list">
      <f7-list-item
              badge="5"
              badge-color="green">
        <span slot="title">
          <f7-icon fa="bell-o"></f7-icon>
          Notification
        </span>
      </f7-list-item>
      <f7-list-item
              badge="3"
              badge-color="green">
        <span slot="title">
          <f7-icon fa="truck"></f7-icon>
          Orders
        </span>
      </f7-list-item>
      <f7-list-item>
        <span slot="title">
          <f7-icon fa="address-card-o "></f7-icon>
          Contact
        </span>
      </f7-list-item>
      <f7-list-item>
        <span slot="title">
          <f7-icon fa="user-o "></f7-icon>
          My Account
        </span>
      </f7-list-item>
    </f7-list>

    <f7-list class="main-nav_list">
      <f7-list-item
              badge="5"
              badge-color="green">
        <span slot="title">
          <f7-icon fa="sun-o"></f7-icon>
          New Varieties
        </span>
      </f7-list-item>
      <f7-list-item
              badge="3"
              badge-color="green">
        <span slot="title">
          <f7-icon fa="pagelines"></f7-icon>
          URC
        </span>
      </f7-list-item>
      <f7-list-item>
        <span slot="title">
          <f7-icon fa="user-o "></f7-icon>
          Seeds
        </span>
      </f7-list-item>
      <f7-list-item>
        <span slot="title">
          <f7-icon fa="calendar-o"></f7-icon>
          Availabilities
        </span>
      </f7-list-item>
      <f7-list-item>
        <span slot="title">
          <f7-icon fa="book"></f7-icon>
          Our Catalogs
        </span>
      </f7-list-item>
    </f7-list>

    <f7-list class="main-nav_list main-nav_list--footer">
      <f7-list-item
              link="/">
        <span slot="title">
          <f7-icon fa="home"></f7-icon>
          Logout
        </span>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
  export default {
  };
</script>
<style lang="scss">
  .list {
    &.main-nav_list {
      ul {
        .item-inner:after {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      &:first-child ul {
        &:before {
          display: none;
        }
      }
    }
    &.main-nav_list--footer {
      margin-top: auto;
    }
  }
</style>
