<template>
  <f7-page login-screen>
    <f7-login-screen-title> cscasc </f7-login-screen-title>
    <f7-list form>
      <f7-list-item>
        <f7-label>Username</f7-label>
        <f7-input type="text" placeholder="Your username"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Password</f7-label>
        <f7-input type="password" placeholder="Your password"></f7-input>
      </f7-list-item>
      <f7-list-item>
      </f7-list-item>
      <f7-block-footer>
        <f7-button
                href="/home/"
                color="orange"
                fill
                big-ios
        >Sign In <f7-icon fa="sign-in"></f7-icon></f7-button>
      </f7-block-footer>
      <f7-block-footer>
        <f7-button
                color="orange"
                big-ios
        >Forgot your password?</f7-button>
      </f7-block-footer>
    </f7-list>
    <f7-list>
      <f7-block-footer>
        <f7-button
                fill
                color="blue"
                big-ios
        >Create Account <f7-icon fa="user-plus"></f7-icon></f7-button>
      </f7-block-footer>
    </f7-list>
  </f7-page>
</template>

<script>
export default {
  name: "page-login",
  // methods: {
  //   signIn() {
  //     console.log('home');
  //     this.$routes.push('/home/')
  //   }
  // }
}
</script>

<style lang="scss">
  .login-screen-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background: transparent;
  }
</style>
