<template>
  <f7-page class="product">
    <f7-navbar>
      <f7-nav-left>
        <f7-link back icon="fa fa-chevron-left"></f7-link>
        <f7-link class="panel-open" open-panel="left" icon="fa fa-bars"></f7-link>
      </f7-nav-left>
      <div class="title">Logo</div>
      <f7-nav-right>
        <f7-link href="/form/" icon="fa fa-heart"></f7-link>
        <f7-link class="searchbar-enable" data-searchbar=".searchbar-components" icon="fa fa-search"></f7-link>
      </f7-nav-right>
      <f7-searchbar class="searchbar-components" search-container=".components-list" search-in="a" expandable></f7-searchbar>
    </f7-navbar>
    <header class="product_header content-indent product_section">
      <div>
        <span class="notate">Wasabia japonica</span>
        <h1 class="header-title">Mephisto green</h1>
      </div>
      <div>
        <span class="notate">Item No.</span>
        <span class="header-title">548520</span>
      </div>
    </header>
    <section class="product_slider content-indent product_section">
      <f7-swiper pagination>
        <f7-swiper-slide>
          <img src="https://natworld.info/wp-content/uploads/2018/01/%D0%A1%D0%BE%D1%87%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-%D1%82%D0%B5%D0%BC%D1%83-%D0%9F%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%B0.jpeg" alt="">
        </f7-swiper-slide>
        <f7-swiper-slide>
          <img src="https://cdn.fishki.net/upload/post/2017/03/19/2245758/tn/02-funny-cat-wallpapercat-wallpaper.jpg" alt="">
        </f7-swiper-slide>
        <f7-swiper-slide>
          <img src="http://www.radionetplus.ru/uploads/posts/2013-05/1369460621_panda-26.jpg" alt="">
        </f7-swiper-slide>
      </f7-swiper>
    </section>
    <div class="display-flex justify-content-space-between product_section content-indent">
      <div>
        <f7-link icon-fa="heart" text="Like" color="black"></f7-link>
      </div>
      <div>
        <f7-link icon-fa="file-pdf-o" text="Culture Guide" color="black"></f7-link>

      </div>
    </div>
    <article class="product_content content-indent">

    </article>
  </f7-page>
</template>

<script>
export default {
  name: "page-product",
  // methods: {
  //   signIn() {
  //     console.log('home');
  //     this.$routes.push('/home/')
  //   }
  // }
}
</script>

<style lang="scss">
  .product_section {
    border-bottom: 1px solid #c4c4c4;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .product_header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    .notate {
      font-size: 10px;
      color: #999
    }
  }
  .header-title {
    display: block;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
  }
  img {
    width: 100%;
  }

</style>
