<template>
  <f7-page>

    <f7-navbar>
      <f7-nav-left>
        <f7-link class="panel-open" open-panel="left" icon="fa fa-bars"></f7-link>
      </f7-nav-left>
      <div class="title">Logo</div>
      <f7-nav-right>
        <f7-link href="/form/" icon="fa fa-heart"></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <f7-block-title>Introduction</f7-block-title>
    <f7-block inner>
      <p>This is template for Framework7 v2, Vue and Phonegap.</p>
    </f7-block>
    <f7-row>
      <f7-col
              width="50"
              tablet-width="25"
              v-for="cart in [1,1,1,1]"
      >
        <f7-link href="/product/">
          <f7-card>
            <f7-card-header>
              <img src="https://natworld.info/wp-content/uploads/2018/01/%D0%A1%D0%BE%D1%87%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-%D1%82%D0%B5%D0%BC%D1%83-%D0%9F%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%B0.jpeg" alt="">
            </f7-card-header>
            <f7-card-content>
              <span>Lavendula angustifolia</span>
              <h4 class="text-color-blue">Aramis Semi Double Rose Eya</h4>
              <i>Lavender</i>
            </f7-card-content>
            <f7-card-footer>
              <span class="notate">Item No. <strong>548520</strong></span>
            </f7-card-footer>
          </f7-card>
        </f7-link>
      </f7-col>
    </f7-row>

    <!--<f7-block-title class="searchbar-found">Links</f7-block-title>-->
    <!--<f7-list class="components-list searchbar-found">-->
      <!--<f7-list-item link="/about/" title="About" panel-close>-->
        <!--<f7-icon slot="media" icon="fa fa-info fa-fw"></f7-icon>-->
      <!--</f7-list-item>-->
      <!--<f7-list-item link="/form/" title="Form" panel-close>-->
        <!--<f7-icon slot="media" icon="fa fa-vcard-o fa-fw"></f7-icon>-->
      <!--</f7-list-item>-->
      <!--<f7-list-item link="/dynamic-route/blog/11/post/23/" title="Dynamic Route" panel-close>-->
        <!--<f7-icon slot="media" icon="fa fa-rss fa-fw"></f7-icon>-->
      <!--</f7-list-item>-->
      <!--<f7-list-item link="/chat/" title="Chat" panel-close>-->
        <!--<f7-icon slot="media" icon="fa fa-user fa-fw"></f7-icon>-->
      <!--</f7-list-item>-->
      <!--<f7-list-item link="/vuex/" title="Vuex" panel-close>-->
        <!--<f7-icon slot="media" icon="fa fa-battery fa-fw"></f7-icon>-->
      <!--</f7-list-item>-->
    <!--</f7-list>-->
    <!--<f7-list class="searchbar-not-found">-->
      <!--<f7-list-item title="Nothing found"></f7-list-item>-->
    <!--</f7-list>-->
    <!--<f7-block-title class="searchbar-hide-on-search">Themes</f7-block-title>-->
    <!--<f7-list class="searchbar-hide-on-search">-->
      <!--<f7-list-item title="iOS Theme" external link="./index.html?theme=ios"></f7-list-item>-->
      <!--<f7-list-item title="Material (MD) Theme" external link="./index.html?theme=md"></f7-list-item>-->
      <!--<f7-list-item title="Color Themes" link="/color-themes/"></f7-list-item>-->
      <!--<f7-list-item title="Github" external link="https://github.com/kevinqqnj"></f7-list-item>-->
    <!--</f7-list>-->
  </f7-page>
</template>

<script>
export default {
  name: "page-home"
}
</script>

<style lang="scss">
  .ios .card-header {
    padding: 0;
    &:after {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  .card-content {
    font-size: 10px;
    text-align: center;
    h4 {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .card-footer {
    font-size: 10px;
    text-align: center;
  }
</style>
