<template>
    <!-- App -->
    <div id="app">
        <f7-statusbar></f7-statusbar>
        <f7-panel class="main-nav"
                left
                cover>
            <f7-view url="/panel-left/" links-view=".view-main" />
        </f7-panel>
        <f7-view url="/" :main="true" class="ios-edges"></f7-view>
    </div>
</template>
<script>
export default {
    mounted() {
        console.log(this.$device)
    },
}
</script>
<style lang="scss">
    .ios .panel-backdrop {
        background: rgba(#000, .5);
    }
    .ios .page {
        background: #fff;
    }
     /*menu*/
    .main-nav {
        .page-content {
            display: flex;
            flex-direction: column;
        }
    }
  .content-indent {
    padding-left: 8px;
    padding-right: 8px;
  }
</style>
